<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Aspirin</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Commits Not Migrated</h1>
    <ul>
        {{range .Commits}}
            {{if not ($.IsCompleted .SHA)}}
            <li>
                <strong>Commit:</strong> {{.SHA}}<br>
                <strong>Author:</strong> {{.Commit.Author}}<br>
                <strong>Date:</strong> {{.Commit.Author.Date}}<br>
                <strong>Message:</strong> {{.Commit.Message}}
                {{ range .Files }}
                <ul>
                    <li>
                        <strong>File:</strong> {{.Filename}}<br>
                        <strong>Changes:</strong> {{.Changes}}<br>
                        <strong>Additions:</strong> {{.Additions}}<br>
                        <strong>Deletions:</strong> {{.Deletions}}
                        <pre>{{ .Patch}}</pre>
                    </li>
                </ul>
                {{end}}
            </li>
            {{end}}
        {{end}}
    </ul>
    <h1>Migrated Commits</h1>
    <ul>
        {{range .Commits}}
            {{if $.IsCompleted .SHA}}
            <li>
                <strong>Commit:</strong> {{.SHA}}<br>
                <strong>Author:</strong> {{.Commit.Author}}<br>
                <strong>Date:</strong> {{.Commit.Author.Date}}<br>
                <strong>Message:</strong> {{.Commit.Message}}
            </li>
            {{end}}
        {{end}}
    </ul>
    <script src="/static/scripts.js"></script>
</body>
</html>
